REDDIT_AUTHORIZATION=your_reddit_auth_here
TOKEN_SECRET=replace_with_a_strong_random_secret
STRIPE_API_KEY=sk_test_replace_with_your_key
STRIPE_WEBHOOK_SECRET=whsec_replace_with_your_secret
PORT=8000
DB_URL=mongodb://localhost/project_bog
GOOGLE_APPLICATION_CREDENTIALS=./project-bog.creds.json
DOMAIN_URL=http://app.redditvideomaker.com
